/* Universal selector*/
* {
  box-sizing: border-box;
  font-family: "Titillium Web";
  font-size: large;
}

/* Sets timer display */
.timer-count {
  float: right;
  height: 50px;
  color: black;
  margin-top: -38px;
  margin-right: px;
}

/* Sets start quiz button display */
.start-quiz {
  text-align: center;
  max-width: 200px;
  min-width: 200px;
}

/* Sets High Scores anchor display */
header a {
    margin-left: -45px;
}

/* Sets project buttons display */
button {
  background: radial-gradient(
    circle,
    rgb(169, 245, 238) 0%,
    rgba(25, 177, 162, 0.954) 100%
  );
  border-radius: 8px;
  color: #13293d;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 300px;
  min-width: 300px;
  padding: 20px;
  text-align: start;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
}

/* Creates button glow on hover */
button {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
button:hover,
button:hover {
  box-shadow: inset 0px 0px 8px rgb(59, 226, 238), 0 0 15px rgb(22, 211, 218);
}

/* Sets submit scores button display */
.initials-submit {
  display: inline-block;
  text-align: center;
  max-width: 200px;
  min-width: 200px;
}

/* Sets "Go Back" and "Reset High Scores" button display (row) */
.flex {
  display: flex;
}

.new,
.clear {
  text-align: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

/* Sets header display */
header {
  padding: 40px;
  background: aliceblue;
  color: black;
}

header a,
a:link,
a:focus,
a:active {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

/* Sets body and main display  */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: aliceblue;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  flex-direction: column;
}

/* Creates responsive display on various screen sizes */
@media screen and (max-width: 1200px) {
  main,
  .flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  main,
  .flex {
    flex-direction: column;
  }
}

@media screen and (max-width: 504px) {
  main,
  .flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: start;
    align-self: center;
  }
}
